*, *::before, *:after {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 0;
  background: #202124;
  color: #f1f1f1;
  font: 400 16px Roboto; }
  body .convo-wrapper:nth-child(0) .img-tray {
    background: #4dc7e0; }
  body .convo-wrapper:nth-child(1) .img-tray {
    background: #4dc7e0; }
  body .convo-wrapper:nth-child(2) .img-tray {
    background: #EE675C; }
  body .convo-wrapper:nth-child(3) .img-tray {
    background: #EE675C; }
  body .convo-wrapper:nth-child(4) .img-tray {
    background: #FF63B8; }
  body .convo-wrapper:nth-child(5) .img-tray {
    background: #EE675C; }
  body .convo-wrapper:nth-child(6) .img-tray {
    background: #EE675C; }
  body .convo-wrapper:nth-child(7) .img-tray {
    background: #fcc934; }
  body .convo-wrapper:nth-child(8) .img-tray {
    background: #FF63B8; }
  body .convo-wrapper:nth-child(9) .img-tray {
    background: #4dc7e0; }

.m-flex {
  display: flex; }
  .m-flex--inline {
    flex-direction: row;
    justify-content: space-between; }
  .m-flex--fe {
    justify-content: flex-end; }
  .m-flex--sb {
    justify-content: space-between; }

#main_section {
  display: block;
  width: 100%;
  height: 100%; }

.msg-header {
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  overflow: hidden auto;
  box-shadow: #2a2b2e;
  transition: boxshadow 0.35s ease-out; }

.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background: rgba(32, 34, 36, 0.8);
  margin: 0 auto;
  width: 100%;
  height: 75px;
  position: fixed; }
  .nav-top--flex-right {
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
  .nav-top #nav_title {
    font: 400 24px Tinos, Roboto;
    letter-spacing: 0.02rem; }
  .nav-top i {
    vertical-align: middle;
    font-size: 18px; }

#convo-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  font: 100 12px Roboto; }

.convo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  max-height: 75px; }
  .convo-wrapper:hover {
    background: rgba(75, 75, 75, 0.05);
    color: #fff;
    transition: 0.5s ease-in; }
  .convo-wrapper .img-tray {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: #000; }
    .convo-wrapper .img-tray .profile-img {
      font-size: 22px;
      color: #000; }
  .convo-wrapper .msg-preview {
    color: white;
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 75px;
    padding: 5px; }
    .convo-wrapper .msg-preview h3 {
      font: 400 18px Roboto;
      line-height: 0.5em; }
    .convo-wrapper .msg-preview p {
      width: clamp(200px, 230px, 260px);
      font-family: "Quicksand", sans-serif;
      color: #9aa0a6;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
  .convo-wrapper .date-tray {
    display: block;
    width: 45px; }
    .convo-wrapper .date-tray small {
      font-size: 12px;
      font-weight: 300;
      align-self: flex-start; }

.action-widget {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: clamp(150px 300px, 500px);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  border-radius: 50px;
  background: royalblue;
  color: #f1f1f1;
  font-weight: 400; }
  .action-widget .action-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 5px; }
    .action-widget .action-content i {
      padding: 0;
      margin: 0;
      font-size: 28px; }
    .action-widget .action-content p {
      margin: 0;
      padding: 0;
      margin-left: 10px; }
