*, *::before, *:after {
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: #202124;
  color: #f1f1f1;
  font: 400 16px Roboto;
  overflow-x: hidden; }

.m-flex {
  display: flex; }
  .m-flex--inline {
    flex-direction: row;
    justify-content: space-between; }
  .m-flex--fe {
    justify-content: flex-end; }
  .m-flex--sb {
    justify-content: space-between; }

#main_section {
  display: block;
  width: 100vw;
  height: 100vh;
  padding-left: 5px; }

.nav-container {
  background: #202124;
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 10px 0;
  box-shadow: 0px 0px 5px #000;
  transition: boxshadow 0.35s ease-in-out; }
  .nav-container .nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 50px;
    padding: 10px; }
    .nav-container .nav-top #nav_title {
      font: 400 18px "Google Sans", Tinos, Roboto;
      letter-spacing: 0.02rem; }
    .nav-container .nav-top i {
      vertical-align: middle;
      font-size: 18px; }

#floater {
  padding: 7px 0px;
  margin: 10px 60px;
  z-index: 300;
  width: clamp(150px 300px, 500px);
  height: 50px;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border-radius: 50px;
  background: #1c5abc;
  color: #f1f1f1;
  font-weight: 400;
  box-shadow: 2px 2px 5px #000; }
  #floater .floater-content {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 5px; }
    #floater .floater-content i {
      padding: 0;
      margin: 0;
      font-size: 28px;
      background: transparent;
      transform: rotateX(180deg); }
    #floater .floater-content p {
      font-family: "Google Sans", Georgia, "Times New Roman", Times, serif;
      color: #fff;
      margin: 0;
      padding: 0;
      margin-left: 10px;
      text-shadow: 1px 1px 1px #000;
      verticle-align: middle; }

.mobile-action {
  position: fixed;
  bottom: 40px;
  right: -40px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  border-radius: 50px;
  background: #1c5abc;
  color: #f1f1f1;
  font-weight: 400; }

#convo-main-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  font: 100 12px Roboto; }

.convo-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  max-height: 75px;
  flex-grow: 1; }
  .convo-wrapper .msg-preview {
    flex-grow: 2; }
  .convo-wrapper:hover {
    cursor: pointer;
    background: rgba(248, 249, 250, 0.09);
    color: #e8eaed;
    transition: 0.5s ease-in; }
  .convo-wrapper .img-tray {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: #000; }
    .convo-wrapper .img-tray .profile-img {
      font-size: 22px;
      color: #000; }
  .convo-wrapper .msg-preview {
    color: white;
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 75px;
    padding: 5px; }
    .convo-wrapper .msg-preview h3 {
      font: 400 18px Roboto;
      line-height: 0.5em; }
    .convo-wrapper .msg-preview p {
      width: clamp(200px, 230px, 260px);
      font-family: "Quicksand", sans-serif;
      color: #9aa0a6;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
  .convo-wrapper .date-tray {
    display: block;
    width: 45px; }
    .convo-wrapper .date-tray small {
      font-size: 12px;
      font-weight: 300;
      align-self: flex-start; }

/*** LANDING SPLASH ** */
#main_panel_right {
  display: block;
  width: 100%;
  height: 100%;
  background: #202124; }

#landing_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 20%;
  right: 0;
  bottom: 0;
  z-index: 1; }
  #landing_hero img#landing_splash {
    margin: 10px 0;
    width: 320px;
    height: 320px; }
  #landing_hero .title {
    font: 400 24px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  #landing_hero p.subtitle {
    text-align: center;
    width: 42%;
    font: 300 18px Roboto;
    color: #9aa0a6; }

.nav_fixed {
  /* fixed navigation width when position is set to fixed */
  box-sizing: border-box;
  padding: 5px;
  height: 150px;
  max-height: 150px;
  position: fixed;
  top: 1px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100; }
